* {
    box-sizing: border-box;
  }
  [hidden] {
    display: none !important;
  }
  
  body {
    font-family: "Roboto Mono", monospace;
    background-color: #1A2324;
    color: #FBF8DE;
  }

  html {
    scroll-behavior: smooth;
  }
  
  h1 {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 20px;
    text-align: center;
  }
  h2 {
    color: #FBF8DE;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  
  /* Page structure */
  .wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    place-items: center;
    margin: 0 1rem;
  }
  
  .box {
    border: 2px dashed;
    border-radius: 4px;
  }
  
  .btn:hover{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    font-weight: 200; 
    opacity: 1;
    background-color: rgba(9, 12, 12, 1);
    color: #FBF8DE;
    border: 0px;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 1rem 3rem;
    transition: 500ms;
    width: 363px;
    margin: auto; 
  }
  .btn {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    font-weight: 200;
    background-color: rgba(9, 12, 12, 0.5);
    color: #FBF8DE;
    border: 0px;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 1rem 3rem;
    transition: 500ms;
    width: 363px;
    margin: auto; 
  }
  
  /* part one – login to spotify */
  
  #part_one {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    height: 100vh;
  }

  .part_one_swaps {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
  }
  
  .page_title {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    margin: 150px;
  }
  
  .login_spotify {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
  }
  
  .page_title p{
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 10px;
    text-align: center;
    margin: 4px;
  }
  
  .login_spotify p{
    font-size: 16px;
    font-weight: 200;
    text-align: center;
  }
  
  .show_down_arrow{
    display: none;
    opacity: 0.5;
  }

  .show_down_arrow:hover {
    opacity: 0.8;
  }

  /* part two – drop playlist url */
  
  #part_two {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #part_two p{
    font-size: 16px;
    font-weight: 200;
    font-style: Italic;
    text-align: center;
    line-height: 1.5;
  }

  .form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    /* margin-bottom: 300px; */
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
  }

  .form p{
    font-size: 16px;
    font-weight: 200;
    text-align: center;
  }
  
  .form label{
    font-size: 16px;
    font-weight: 200;
    text-align: center;
  }
  
  
  #link{
    background-color: transparent;
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    font-weight: 200;
    color: #FBF8DE;
    border: none; 
    border-bottom: 2px solid rgba(251, 248, 222, 0.50); 
    margin: 8px;
    padding: 8px; 
    width: 700px;
  }

  #link:focus{
    background-color: transparent;
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    color: #FBF8DE;
    border: none; 
    border-bottom: 2px solid #FBF8DE; 
    outline: none;
    margin: 8px;
    padding: 8px; 
    width: 700px;
  }
  
  /* part three – chart and analysis -option 1 */

  #part_three {
    display: none;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    gap: 16px;
    padding: 48px 250px;
    height: 100vh;
  }

  #angryboi_results,
  #chillboi_results,
  #hyperboi_results,
  #sadboi_results {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    flex-flow: row;
    width: 100%;
  }

  .svg-icon {
    flex: 0 0 auto;
    height: 100%;
  }

  .angryboi_results_text,
  .chillboi_results_text,
  .hyperboi_results_text,
  .sadboi_results_text {
    display: flex;
    flex: 1;
    flex-flow: column;
    padding: 0px 24px;
    font-weight: 200;
  }

  .scatter_graph {
    display: flex;
    flex: 1 1 auto; 
    flex-direction: column;
    height: 470px;
  }

  .scatter_graph h3 {
    font-size: 20px;
    font-weight: 400;
  }

  #chart {
    padding: 20px;
    background-color: rgba(113, 148, 152, 0.07);
    border-radius: 4px;
  }


  #part_three p{
    font-size: 16px;
    font-weight: 200;
    font-style: Italic;
  }

  #generate_tracklist,
  #tracklist {
    display: flex;
    flex: 0 0 48%;
    flex-flow: column wrap;
    font-weight: 300;
  }

    /* part three – chart and analysis -option 2 */

  /* .part_three {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row;
    gap: 16px;
    padding: 0px 120px;
    height: 100vh;
    width: 100vw;
    
  }

  .scatter_graph {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center; 
    max-width: 50%;
  }

  .angryboi_results {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex: 1;
    flex-flow: column wrap;
    max-width: 50%;
  }

  .svg-icon {
    flex: 1 1 auto;
    width: 100%;
    height: auto;
  }

  .angryboi_results_text {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center; 
    align-items: center;
  }

  .generate_tracklist {
    display: flex;

    
  } */

  
  